@import "~antd/dist/antd.css";

body {
  /* background-color: #ccc; */
}
#root {
  height: 100%;
  box-sizing: border-box;
  border: 5px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.nb-layout {
  height: 100%;
}

.nb-icon {
  cursor: pointer;
}

.nb-editor {
  padding: 0px 50px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
.nb-editor textarea {
  height: 100%;
}
